/* BookList.css */

.book-list-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.book-list-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-form input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.search-form input:focus {
  border-color: #007BFF;
}

.search-form button {
  padding: 10px 20px;
  width: 100px;
  height: 40px;
  background-color: #0eb145;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #0a9d3e;
}

.book-list {
  list-style: none;
  padding: 0;
}

.book-list-item {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
}

.book-list-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 123, 255, 0.1);
}

.book-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #75769a;
}

.book-title::before {
  content: "タイトル: ";
  color: #8a8a82a1;
}

.book-author {
  font-size: 1rem;
  color: #777;
  margin-top: 5px;
}

.book-published-date,
.book-publisher {
  font-size: 0.9rem;
  color: #666;
  margin-top: 3px;
}

.book-description {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}

.book-list-item a {
  text-decoration: none;
  color: inherit;
}

.book-list-item a:hover .book-title {
  color: #007BFF;
}

.book-thumbnail {
  max-width: 120px;
  /* 画像の最大幅を120pxに設定 */
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}
